@charset "UTF-8";

footer {
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
}

footer nav {
	margin-bottom: 10px;
}

footer nav a {
	margin-right: 15px;
	color: #333;
	text-decoration: none;
}

footer nav a:last-child {
	margin-right: 0;
}

footer p {
	font-size: 14px;
	color: #666;
}

footer p span {
	margin-right: 10px;
}

footer p span:last-child {
	margin-right: 0;
}