body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	overflow-x: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.header {
	background-color: #AF7DE7;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content {
	display: flex;
	justify-content: flex-start; 
	align-items: center;
	max-width: 1200px;
	padding: 0 20px;
}

.header img {
	width: 150px;
	height: auto;
	margin-left: 50px;
}

.search-and-login {
	display: flex;
	align-items: center;
}

.search-bar {
	display: flex;
	margin-right: 10px;
	background-color: white;
	border-radius: 50px; 
	overflow: hidden;
	position: relative; 
}

.search-bar input {
	padding: 8px 15px;
	width: 200px;
	border: none;
	outline: none;
	border-radius: 50px;
}

.search-bar button {
	background: none;
	border: none;
	color: #9f7aea;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.login-button {
	background-color: #AF7DE7;
	color: white; 
	border: 2px solid #7C3AED;  
	padding: 6px 12px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
}

.login-button:hover {
	background-color: #8b5cf6;
	border-color: #7c3aed;
}

.logo-container {
	text-align: center;
	margin: 15px 0;
}

.main-logo {
	width: 150px;
	height: auto;
}

.banner {
	background-color: #e6f7ff;
	padding: 5px;
	text-align: center;
	font-size: 18px;
	color: #333;
	margin: 40px auto 0 auto;  
	max-width: 600px;
	border-radius: 3px;
}

.product-title {
	text-align: center;
	margin: 30px 0; 
	font-size: 24px;
	font-weight: bold;  
}

.sort-options {
	text-align: center;
	margin: 20px 0;
}

.sort-link {
	color: gray; 
	text-decoration: none;
	margin: 0 10px;
	font-size: 12px; 
	transition: color 0.3s;
}

.sort-link:hover {
	color: black;  
}

.sort-link.active {
	color: black; 
}

 
.sort-link:focus, .sort-link:active {
	color: black;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	justify-items: center;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.product-item {
	background-color: white;
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	width: 150px;
}

.product-item img {
	width: 100%;
	height: auto;
}

.product-item h3 {
	font-size: 10px;
	margin: 10px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 150px;
}

.product-item p {
	color: #333;
	font-size: 10px;
}

.product-item button {
	background-color: #824BC0;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.nav-section {
	display: flex;
	align-items: center;
	margin: 20px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	justify-content: flex-start;
	padding: 10px 0;
	padding-left: 300px;
	position: relative;
}

.nav-button {
	color: gray;  
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;
}

.nav-button:hover {
	color: black;  
}

.nav-button.active {
	color: black;  
}

.nav-button:last-child {
	margin-right: 0;
}

.nav-button.active {
	color: black;
}

.catalog {
	display: none;
	position: absolute;
	top: 100%;
	left: 400px;  
	background-color: white;
	border: 1px solid #ccc;
	padding: 5px;
	width: 150px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.catalog ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.catalog ul li {
	padding: 8px 0;
}

 
.product-link:hover + .catalog {
    display: block;  
}

 
.product-link {
    position: relative;
}

.product-link:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;  
    height: 50px;  
    display: block;
}

 
.catalog:hover {
    display: block;  
}


.catalog a {
	color: gray;
	text-decoration: none;
	display: block;
}

.catalog a:hover {
	color: black;
}

.footer {
	background-color: #f5f5f5;
	padding: 20px;
	font-size: 12px;
	color: #333;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	text-align: left;
}

.footer p {
	margin: 1px 0;
}

@media ( max-width : 1200px) {
	.product-grid {
		grid-template-columns: repeat(4, 1fr);
	}
	.header img {
		margin-left: 50px;
	}
	.header-right {
		margin-right: 50px;
	}
	.nav-section {
		padding-left: 50px;
	}
}

@media ( max-width : 992px) {
	.product-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.header img {
		margin-left: 20px;
	}
	.header-right {
		margin-right: 20px;
	}
	.nav-section {
		padding-left: 20px;
	}
}

@media ( max-width : 768px) {
	.header {
		flex-direction: column;
		align-items: center;
	}
	.header-left, .header-right {
		margin: 10px 0;
	}
	.header img {
		margin-left: 0;
	}
	.header-right {
		margin-right: 0;
		flex-direction: column;
		align-items: center;
	}
	.search-box {
		margin-bottom: 10px;
	}
	.login-button {
		margin-left: 0;
	}
	.product-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.banner {
		margin: 0 20px;
	}
	.nav-section {
		padding-left: 0;
		justify-content: center;
	}
}

@media ( max-width : 480px) {
	.product-grid {
		grid-template-columns: 1fr;
	}
}